/*======= index-1.html =======*/
#page2 #content .col-1 {width:257px; margin-right:36px;}
#page2 #content .col-2 { width:255px;}

/*======= index-2.html =======*/
#page3 #content aside { margin-right:33px;}
#page3 #content section.mainContent {margin-right:0;}


/*=========================*/


